{% extends "layout.html" %}
{% block content %}
<main class="page landing-page">
  <section class="clean-block clean-hero" style="background-image:url{{ url_for('static', filename='assets/img/tech/image4.jpg') }};color:rgba(9, 162, 255, 0.85);">
      <div class="text">
          <h2>Contracts designed to be flexible around you.</h2>
          <a href = "{{ url_for('user.user_register') }}" >
          <p></p><button class="btn btn-outline-light btn-lg" type="button">Sign Up</button>
        </a>
      </div>
  </section>
  <section class="clean-block features"></section>
</main>
{% endblock %}
